.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.button {
  border-radius: 38px;
  padding: 15px 26px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid #89ce14;
}
.bg {
  background:  linear-gradient(90deg, #6da015 0%, #46c0a2 100%);
}
.text {
  color: #89ce14;
}
.hover-btn:hover {
  background: var(--Gredient, linear-gradient(90deg, #6da015 0%, #46c0a2 100%));
  color: white;
  transition: 1s;
}
.arrow {
  padding: 17px 20px;
  border: 2px solid #89ce14;
  border-radius: 50%;
  background-color: #ffffff4d;
  color: #89ce14;
  font-size: 20px;
  cursor: pointer;

  &:hover {
    background-color: #89ce14;
    color: white;
    transition: all 0.3s ease;
  }
}
.card {
  border-radius: 10.399px;
  border: 1.3px solid #6da015;
  background: linear-gradient(
    90deg,
    rgba(109, 160, 21, 0.05) 0%,
    rgba(70, 192, 162, 0.05) 100%
  );

  /* Shadow 02 */
  box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.06);
}
.card1 {
  border-radius: 10.399px;
  border: 1.3px solid #6da015;
  background: linear-gradient(
    90deg,
    rgba(109, 160, 21, 0.05) 0%,
    rgba(70, 192, 162, 0.05) 100%
  );

  /* Shadow 02 */
  box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.06);
}
.bg-text {
  background: var(--Gredient, linear-gradient(90deg, #6da015 0%, #46c0a2 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.last-btn {
  background: var(--Brand-Color-Primary-Color, #0b2a77);
}
.header2 {
  height: 100vh;
}
.home-header {
  height: 92vh;
}
.header {
  height: 8vh;
}
.header1 {
  height: 50vh;
}
.about-v-text {
  border-top-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
.input-border {
  border-bottom: 2px solid gray;
}
.rate {
  border: 1px solid #dce8c6;
  background: linear-gradient(
    90deg,
    rgba(109, 160, 21, 0.08) 0%,
    rgba(70, 192, 162, 0.08) 100%
  );
}
.rate1 {
  background: linear-gradient(
    90deg,
    rgba(135, 200, 21, 0.08) 0%,
    rgba(67, 204, 170, 0.08) 100%
  );
}
.header-text {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
}
.dashboard-first {
  border-radius: 16px;
  background: rgba(70, 192, 162, 0.05);
  box-shadow: 0 0 40px 0 rgba(128, 128, 128, 0.16);
}
.dashboard-btn {
  background: linear-gradient(
    90deg,
    rgba(109, 160, 21, 0.05) 0%,
    rgba(70, 192, 162, 0.05) 100%
  );
}
.shadow1 {
  box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.06);
}
.dashboard-input {
  border-radius: 6px;
  border: 0.5px solid #6da015;
  background: linear-gradient(
    90deg,
    rgba(109, 160, 21, 0.05) 0%,
    rgba(70, 192, 162, 0.05) 100%
  );
}
.create-btn-section{
  border: 1px dashed #D5D5D5;
}
.location-btn{
  background: linear-gradient(90deg, rgba(109, 160, 21, 0.20) 0%, rgba(70, 192, 162, 0.20) 100%);
}

.tog{
  background: linear-gradient(90deg, rgba(70, 192, 162, 0.50) 0%, rgba(109, 160, 21, 0.50) 100%);
}

@media(max-width: 700px){
  .nav-container{
    position: relative;
  }
  .nav-links{
    position: fixed;
    width: 80%;
    z-index: 100;
    background-color: white;
    padding: 20px;
  }
  .dashboard-header{
    position: relative;
  }
  .dashboard-title{
    position: sticky;
    top: 20px;
    left: 0;
    z-index: 10;
  }
}